@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rebeccapurple;
  font-family: 'Roboto', sans-serif;
}

.top-nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: rgb(169, 102, 1)
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  padding: 0 1rem;
}

.logo span {
  color: black;
}



.header {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 40px;
  background-size: cover;
  background-color: rgba(127, 255, 212, 0.9);
  background-image: url("../../drive-download-20221002T151746Z-001/stemning.jpeg");
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(186, 87, 0, 0.178);
}

.hero-text {
  display: inline-block;
  background: red;
}


.section {
  padding: 7rem 5rem;
}

.section--image {
  display: grid;
  grid-template-areas: "pic header"
                        "pic text";
}

.pic {
  grid-area: pic;
}

.section--header {
  grid-area: header;

}

.section--text {
  grid-area: text;
}