@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Roboto', sans-serif;
}

.top-nav:first-child {
  display: flex;
  align-content: center;
}

.top-nav {
  z-index: 9999;
  position: fixed;

  width: 100%;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(0, 0, 0);
}

.hero-text-round-nav {
  display: inline-block;
  background-color: red;
  height: 15px;
  width: 15px;
  border-radius: 100%;
}

.nav-item-list {
  display: flex;
  gap: 0 50px;

  width: 1200px;
}

.nav-item-link {
  font-size: 18px;
  color: #d4d4d4;
  text-decoration: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

.nav-item-link:hover {
  color: rgb(216, 216, 216);
  border-bottom: 2px solid #fff;
}

.header {
  display: flex;
  justify-content: center;

  height: 100vh;
  padding-top: 40px;

  background-image: url("../../drive-download-20221002T151746Z-001/stemning.jpeg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  background: rgba(186, 87, 0, 0.178);
}

.hero-text {
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 25px;
  padding: .5rem 1rem;
}

.hero-text-round {
  background-color: red;
  height: 30px;
  width: 30px;
  margin: 5px;
  border-radius: 100%;
}

.section {
  background: #181818;
  color: #d7d7d7;
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 7rem 0;
}

.section-image-container {
  display: grid;
  column-gap: 1em;
  row-gap: .5em;
  grid-template-columns: 400px calc(800px - 1em);
  grid-template-rows: auto;
  grid-template-areas: "pic header"
                        "pic text";
  }

.section-pic {
  z-index: 1;
  width: 100%;
  filter: brightness(60%);
  grid-area: pic;
}

.section-header {
  grid-area: header;
}

.section-header span {
  border-bottom: solid #d7d7d7 2px;
}

.section-text {
  grid-area: text;
  line-height: 1.6;
}

.koncerter {
  display: grid;
  min-height: 100vh;
  font-size:40px;
  color: #fff;
  padding-top: 40px;
  text-align: center;
}

.koncerter-item {
  height: 400px;
  width: 200px;
}